@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

html {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    font-smooth: always;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
.txtright {text-align: right;}
.txtcenter {text-align: center;}

.panel {
    width: 420px;
    height: auto;
    background: #fafafb;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
}
.frame {width: 100%; height: 100%;}
.topbar {font-size: 8px;}
.toptxt {font-size: 11px; font-weight: bold;}
.iconbig{font-size: 12px;}

.bar {
    margin: 0 auto;
    padding: 2px 5px;
    width: 100%;
    display: table;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
    width: 33.333333333333%;
    margin: 0;
    float: left;
    display: inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.keypad-numbers {
    width: 100%;
    padding: 0px 35px;
    margin-top: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.number-circle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    border: 1px solid #333;
    border: 1px solid #ccc;
    width: 60px;
    height: 60px;
    line-height: 20px;
    padding-top: 10px;
    text-align: center;
    margin: 5px auto;
    background-color: transparent;
    transition-property: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.number-circle .num {font-size: 30px;}
.number-circle .abc {font-size: 10px;text-transform: uppercase;}
.number-circle-star {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    border: 1px solid #ccc;
    width: 60px;
    height: 60px;
    line-height: 18px;
    padding-top: 24px;
    text-align: center;
    margin: 5px auto;
    background-color: transparent;
    transition-property: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.number-circle-star .num {font-size: 30px;}
.number-circle-pound {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    border: 1px solid #ccc;
    width: 60px;
    height: 60px;
    line-height: 18px;
    padding-top: 20px;
    text-align: center;
    margin: 5px auto;
    background-color: transparent;
    transition-property: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.number-circle-pound .num {font-size: 30px;}
.number-circle:hover,.number-circle-pound:hover,.number-circle-star:hover {background: #D6CEC3;color: #fff;}

.number-key {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #333;
    border: 1px solid #ccc;
    width: 90px;
    height: 60px;
    line-height: 20px;
    padding-top: 10px;
    text-align: center;
    margin: 5px auto;
    background-color: transparent;
    transition-property: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.number-key .num {font-size: 30px;}
.number-key .abc {
    font-size: 10px;
    text-transform: uppercase;
}
.number-key-star {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 90px;
    height: 60px;
    line-height: 18px;
    padding-top: 24px;
    text-align: center;
    margin: 5px auto;
    background-color: transparent;
    transition-property: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.number-key-star .num {font-size: 30px;}
.number-key-pound {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 90px;
    height: 60px;
    line-height: 18px;
    padding-top: 20px;
    text-align: center;
    margin: 5px auto;
    background-color: transparent;
    transition-property: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.number-key-pound .num {font-size: 30px;}
.number-key:hover, .number-key-pound:hover, .number-key-star:hover {
    background: #D6CEC3;
    color: #fff;
}

.call-cont {
    width: 100%;
    text-align: center;
}
.call-circle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    font-size: 40px;
    padding-top: 3px;
    color: #fff;
    background: #4CD964;
    transition-property: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.call-circle:hover {
    background: #257533;
    color: #ccc;
}

.bottom {
    margin: 0 auto;
    padding: 2px 5px;
    width: 100%;
    display: table;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: 5px;
    font-size: 23px;
    line-height: 15px;
}

.bottom .grid {
    width: 20%;
    margin: 0;
    float: left;
    display: inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bottom .grid.active {
    color: #1D62F0;
}

.bottom .txt {
    font-size: 11px;
}
