@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
html {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    font-smooth: always;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
.txtright {text-align: right;}
.txtcenter {text-align: center;}

/* PANEL LAYOUT ELEMENTS */
    .panel {
        width: 420px;
        height: auto;
        background: #efefef;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #333;
    }
    .frame {width: 100%; height: 100%;}
    .bar {
        margin: 0 auto;
        padding: 2px 5px;
        width: 100%;
        display: table;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .title-bar {
        text-align:center;
        margin: 0 auto;
        padding: 10px 5px;
        width: 100%;
        display: table;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .toptxt {
        font-size: 14px;
        font-weight: bold;
        color:#bbb;
        text-align:center;
    }

/* KEYPAD BUTTONS */
    .grid {
        width: 33.333333333333%;
        margin: 0;
        float: left;
        display: inline;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .keypad {
        width: 100%;
        padding: 0px 35px;
        margin-top: 10px;
        margin-bottom:20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }


/* GE & DSC KEYS */
    .key {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #333;
        border: 1px solid #ddd;
        width: 100px;
        height: 45px;
        line-height: 20px;
        padding-top: 10px;
        text-align: center;
        margin: 5px auto;
        background-color: transparent;
        background: #f4f4f3;
        transition-property: all .1s ease-in 0s;
        -moz-transition: all .1s ease-in 0s;
        -webkit-transition: all .1s ease-in 0s;
        -o-transition: all .1s ease-in 0s;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .key .num{font-size: 28px;font-weight: 400;}
    .key-star {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #ddd;
        width: 100px;
        height: 45px;
        line-height: 18px;
        padding-top: 18px;
        text-align: center;
        margin: 5px auto;
        background-color: transparent;
        background: #f4f4f3;
        transition-property: all .1s ease-in 0s;
        -moz-transition: all .1s ease-in 0s;
        -webkit-transition: all .1s ease-in 0s;
        -o-transition: all .1s ease-in 0s;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .key-star .num {font-size: 30px; font-weight: 400;}
    .key-pound {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #ddd;
        width: 100px;
        height: 45px;
        line-height: 18px;
        padding-top: 12px;
        text-align: center;
        margin: 5px auto;
        background-color: transparent;
        background: #f4f4f3;
        transition-property: all .1s ease-in 0s;
        -moz-transition: all .1s ease-in 0s;
        -webkit-transition: all .1s ease-in 0s;
        -o-transition: all .1s ease-in 0s;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .key-pound .num {font-size: 30px; font-weight: 400;}
    .key:hover, .key-pound:hover, .key-star:hover {
        background: #fff;
    }
    .key:active, .key-pound:active, .key-star:active {
        background: #bbb;
        color: #fff;
    }


/* VISTA KEYS */
    .vista-key {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #ddd;
        width: 90px;
        height: 55px;
        line-height: 20px;
        padding-top: 10px;
        text-align: center;
        margin: 5px auto;
        background-color: transparent;
        background: #f4f4f3;
        transition-property: all .1s ease-in 0s;
        -moz-transition: all .1s ease-in 0s;
        -webkit-transition: all .1s ease-in 0s;
        -o-transition: all .1s ease-in 0s;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .vista-key .num{font-size: 30px;font-weight: 400;}
    .vista-key .txt {
        font-size: 10px;
        text-transform: uppercase;
    }
    .vista-key-star {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #ddd;
        width: 90px;
        height: 60px;
        line-height: 18px;
        padding-top: 24px;
        text-align: center;
        margin: 5px auto;
        background-color: transparent;
        background: #f4f4f3;
        transition-property: all .1s ease-in 0s;
        -moz-transition: all .1s ease-in 0s;
        -webkit-transition: all .1s ease-in 0s;
        -o-transition: all .1s ease-in 0s;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .vista-key-star .num {font-size: 30px; font-weight: 400;}
    .vista-key-pound {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #ddd;
        width: 90px;
        height: 60px;
        line-height: 18px;
        padding-top: 20px;
        text-align: center;
        margin: 5px auto;
        background-color: transparent;
        background: #f4f4f3;
        transition-property: all .1s ease-in 0s;
        -moz-transition: all .1s ease-in 0s;
        -webkit-transition: all .1s ease-in 0s;
        -o-transition: all .1s ease-in 0s;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .vista-key-pound .num {font-size: 30px; font-weight: 400;}
    .vista-key:hover, .vista-key-pound:hover, .vista-key-star:hover {
        background: #fff;
    }
    .vista-key:active, .vista-key-pound:active, .vista-key-star:active {
        background: #bbb;
        color: #fff;
    }


/* LED DISPLAY GRID */
    .led-display {
        margin: 0 auto;
        padding: 25px 5px;
        width: 80%;
        display: table;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        margin-top: 5px;
        font-size: 10px;
        line-height: 24px;
        background: #61c885;

    }
    .led-display .grid {
        width: 100%;
        margin: 0;
        float: left;
        display: inline;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .led-display .txt {
        font-size: 21px;
        font-weight: 400;
        color: #fff;
    }

/* ALARM STATUS LED LATOUT GRID */
    .alarm-status {
        margin: 0 auto;
        padding: 2px 5px;
        width: 80%;
        display: table;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        margin-top: 20px;
        font-size: 23px;
        line-height: 15px;
    }
    .alarm-status .grid {
        width: 25%;
        margin: 0;
        float: left;
        display: inline;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .alarm-status .txt {
        font-size: 11px;
        float: left;
        margin-left: 8px;
    }
     .led-red, .led-grn, .led-yel, .led-off{
        margin: 0, 100px;
        width:10px;
        padding: 1px;
        height:5px;
        margin-top:5px;
        margin-left: 10px;
        float: left;
    }
    .led-red{background: #db181c;}
    .led-grn{background: #61c885;}
    .led-yel{background: #ebd200;}
    .led-off{background: #bbb; }


/* ALARM CONTROL BUTTON LATOUT GRID */
    .alarm-control {
        margin: 0 auto;
        padding: 2px 5px;
        width: 80%;
        display: table;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        line-height: 10px;
    }
    .alarm-control .grid {
        width: 25%;
        margin: 0;
        float: left;
        display: inline;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .btn {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #888;
        width:75px;
        height: 30px;
        line-height: 10px;
        padding-top: 10px;
        text-align: center;
        margin: 5px auto;
        background-color: transparent;
        background: #888;
        transition-property: all .1s ease-in 0s;
        -moz-transition: all .1s ease-in 0s;
        -webkit-transition: all .1s ease-in 0s;
        -o-transition: all .1s ease-in 0s;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .btn .txt {
        font-size: 10px;
        font-weight:700;
        color:#fefefe;
        text-transform: uppercase;
    }
    .btn .arrow{
        font-size: 16px;
        font-weight:700;
        color:#fefefe;
        text-transform: uppercase;
    }
    .btn:hover {
        background: #555;
        color: #fff;
    }
    .btn:active {
        border: 1px solid #ccc;
        background: #ccc;
        color: #000;
    }
    .btn .txt:hover{color:#fff;}
    .btn .txt:active{color:#000;}


/* MEDIA QUERIES */
@media (max-device-width: 480px), (max-width: 480px) {
    .panel {width: 320px;}
    .keypad {padding: 0px 10px; }
    .key, .key-pound, .key-star {width: 80px; height:60px;}
    .key .num{font-size: 24px;line-height:36px;}
    .key-pound .num{font-size: 24px;line-height:36px;}
    .key-star .num{font-size: 26px;line-height:32px;}
    .btn { width: 60px;}
    .alarm-control {width: 90%;}
    .led-display {
        padding: 25px 5px;
        width: 90%;
        margin-top: 10px;
        font-size: 10px;
        line-height: 24px;
    }
    .led-display .txt {font-size: 18px;}
     .alarm-status {
        width: 95%;
    }
    .alarm-status .txt {
        font-size: 10px;
        float: left;
        margin-left: 5px;
    }
    .led-red, .led-grn, .led-yel, .led-off{
        margin-top:4px;
    }


}


